<div class="flex flex-col items-center justify-start" style="width: 100%">
  <div class="p-8">
    <h1 class="text-3xl font-bold mb-4">Welcome to the Book Club!</h1>
    <p class="mb-4">
      This is friendly community where we share our favorite reads and more.
    </p>
    <p>Explore the features and enjoy your stay!</p>
    <div class="mt-8">
      <a routerLink="/about" class="text-blue-500 hover:underline"
        >Learn more about us</a
      >
    </div>
  </div>

  <div
    class="flex flex-row flex-wrap items-center justify-start w-full"
    style="padding: 30px"
    *ngIf="books && books.length > 0; else loading"
  >
    <div *ngFor="let book of books" style="padding: 20px">
      <app-card [book]="book"></app-card>
    </div>
  </div>

  <ng-template #loading>
    <h1 class="text-3xl font-bold mb-4" style="padding: 50px">
      This great library is loading, please wait a moment...
    </h1>
  </ng-template>

  <button nz-button nzType="primary" (click)="loadMoreBooks()">Load more books</button>
</div>
