<div class="flex flex-col items-center justify-start" style="width: 100%">
  <div class="p-8">
    <h1 class="text-3xl font-bold mb-4">Welcome to the Book Club!</h1>
    <p class="mb-4">
      This is friendly community where we share our favorite reads and more.
    </p>
    <p>Explore the features and enjoy your stay!</p>
    <div class="mt-8">
      <a routerLink="/about" class="text-blue-500 hover:underline"
        >Learn more about us</a
      >
    </div>
  </div>

  <nz-input-group
    nzSearch
    nzSize="large"
    [nzAddOnAfter]="suffixButton"
    style="width: 50%; margin-top: 30px"
  >
    <input
      type="text"
      nz-input
      [(ngModel)]="searchTerm"
      placeholder="What are you looking for?"
    />
  </nz-input-group>
  <ng-template #suffixButton>
    <button
      nz-button
      nzType="primary"
      nzSize="large"
      nzSearch
      (click)="search(searchTerm)"
    >
      Search
    </button>
  </ng-template>

  <nz-divider></nz-divider>

  <div
    class="flex flex-row items-center justify-between w-full"
    style="padding: 30px"
  >
    <div class="flex flex-row items-center justify-start">
      <p style="margin: 0; padding-right: 20px">Filter by:</p>
      <nz-select
        [(ngModel)]="selectedFilter"
        (ngModelChange)="onFilterChange(selectedFilter)"
        nzPlaceHolder="Genre"
        style="width: 200px; margin-right: 20px"
        ><nz-option nzValue="art" nzLabel="Art"></nz-option>
        <nz-option nzValue="biography" nzLabel="Biography"></nz-option>
        <nz-option nzValue="history" nzLabel="History"></nz-option>
        <nz-option nzValue="medical" nzLabel="Medical"></nz-option>
        <nz-option nzValue="poetry" nzLabel="Poetry"></nz-option>
        <nz-option nzValue="romance" nzLabel="Romance"></nz-option>
        <nz-option nzValue="science" nzLabel="Science"></nz-option>
        <nz-option nzValue="travel" nzLabel="Travel"></nz-option>
        <nz-option nzValue="fantasy" nzLabel="Fantasy"></nz-option>
        <nz-option nzValue="fiction" nzLabel="Fiction"></nz-option>
        <nz-option nzValue="non-fiction" nzLabel="Non-Fiction"></nz-option>
        <nz-option nzValue="mystery" nzLabel="Mystery"></nz-option>
        <nz-option nzValue="thriller" nzLabel="Thriller"></nz-option>
      </nz-select>

      <nz-select
        [(ngModel)]="selectedFilter"
        (ngModelChange)="onFilterChange(selectedFilter)"
        nzPlaceHolder="Author"
        style="width: 200px; margin-right: 20px"
        ><nz-option nzValue="J K Rowling" nzLabel="J K Rowling"></nz-option>
        <nz-option nzValue="Stephen King" nzLabel="Stephen King"></nz-option>
        <nz-option
          nzValue="Agatha Christie"
          nzLabel="Agatha Christie"
        ></nz-option>
        <nz-option
          nzValue="George R R Martin"
          nzLabel="George R R Martin"
        ></nz-option>
        <nz-option nzValue="J R R Tolkien" nzLabel="J R R Tolkien"></nz-option>
        <nz-option nzValue="Isaac Asimov" nzLabel="Isaac Asimov"></nz-option>
        <nz-option nzValue="Mark Twain" nzLabel="Mark Twain"></nz-option>
        <nz-option
          nzValue="Ernest Hemingway"
          nzLabel="Ernest Hemingway"
        ></nz-option>
        <nz-option
          nzValue="F Scott Fitzgerald"
          nzLabel="F Scott Fitzgerald"
        ></nz-option>
        <nz-option nzValue="Jane Austen" nzLabel="Jane Austen"></nz-option>
        <nz-option
          nzValue="Charles Dickens"
          nzLabel="Charles Dickens"
        ></nz-option>
        <nz-option nzValue="Leo Tolstoy" nzLabel="Leo Tolstoy"></nz-option>
      </nz-select>

      <nz-select
        [(ngModel)]="selectedFilter"
        (ngModelChange)="onFilterChange(selectedFilter)"
        nzPlaceHolder="Language"
        style="width: 200px; margin-right: 20px"
        ><nz-option nzValue="eng" nzLabel="English"></nz-option>
        <nz-option nzValue="fr" nzLabel="French"></nz-option>
        <nz-option nzValue="de" nzLabel="German"></nz-option>
        <nz-option nzValue="es" nzLabel="Spanish"></nz-option>
        <nz-option nzValue="it" nzLabel="Italian"></nz-option>
        <nz-option nzValue="pt" nzLabel="Portuguese"></nz-option>
        <nz-option nzValue="ru" nzLabel="Russian"></nz-option>
        <nz-option nzValue="zh" nzLabel="Chinese"></nz-option>
      </nz-select>
    </div>
    <div class="flex flex-row items-center justify-start">
      <p style="margin: 0; padding-right: 20px">Sort by:</p>
      <nz-select
        [(ngModel)]="selectedSort"
        (ngModelChange)="onSortChange(selectedSort)"
        nzPlaceHolder="Title"
        style="width: 200px; margin-right: 20px"
        ><nz-option
          nzValue="title"
          nzLabel="Title (alphabetically)"
        ></nz-option>
        <nz-option
          nzValue="author"
          nzLabel="Author (alphabetically)"
        ></nz-option>
        <nz-option nzValue="oldest" nzLabel="Oldest"></nz-option>
        <nz-option nzValue="newest" nzLabel="Newest"></nz-option>
      </nz-select>
    </div>
  </div>

  <div
    class="flex flex-row flex-wrap items-center justify-start w-full"
    style="padding: 30px"
    *ngIf="books && books.length > 0; else loading"
  >
    <div *ngFor="let book of books" style="padding: 20px">
      <app-card [book]="book"></app-card>
    </div>
  </div>

  <ng-template #loading>
    <div class="loading-text">
      <h1
        class="text-3xl font-bold mb-4"
        style="
          padding: 50px;
          background: whitesmoke;
          border-radius: 10px;
          margin-top: 20px;
        "
      >
        This library is loading, please touch some grass for a moment...
      </h1>
    </div>
  </ng-template>

  <button
    nz-button
    nzType="primary"
    (click)="loadMoreBooks()"
    style="margin-bottom: 40px"
  >
    Load more books
  </button>
</div>
