<div class="flex flex-col items-center justify-start" style="width: 100%">
  <div class="p-8">
    <h1 class="text-3xl font-bold mb-4">Welcome to the Book Club!</h1>
    <p class="mb-4">
      This is friendly community where we share our favorite reads and more.
    </p>
    <p>Explore the features and enjoy your stay!</p>
    <div class="mt-8">
      <a routerLink="/about" class="text-blue-500 hover:underline"
        >Learn more about us</a
      >
    </div>
  </div>

  <nz-input-group
    nzSearch
    nzSize="large"
    [nzAddOnAfter]="suffixButton"
    style="width: 50%; margin-top: 30px"
  >
    <input
      type="text"
      nz-input
      [(ngModel)]="searchTerm"
      placeholder="What are you looking for?"
    />
  </nz-input-group>
  <ng-template #suffixButton>
    <button
      nz-button
      nzType="primary"
      nzSize="large"
      nzSearch
      (click)="search(searchTerm)"
    >
      Search
    </button>
  </ng-template>

  <nz-divider></nz-divider>

  <div
    class="flex flex-row flex-wrap items-center justify-start w-full"
    style="padding: 30px"
    *ngIf="books && books.length > 0; else loading"
  >
    <div *ngFor="let book of books" style="padding: 20px">
      <app-card [book]="book"></app-card>
    </div>
  </div>

  <ng-template #loading>
    <h1
      class="text-3xl font-bold mb-4"
      style="
        padding: 50px;
        background: whitesmoke;
        border-radius: 10px;
        margin-top: 20px;
      "
    >
      This library is loading, please touch some grass for a moment...
    </h1>
  </ng-template>

  <button
    nz-button
    nzType="primary"
    (click)="loadMoreBooks()"
    style="margin-bottom: 40px"
  >
    Load more books
  </button>
</div>
