<nz-card
  style="width: 300px"
  [nzCover]="coverTemplate"
  [nzActions]="[actionReview, actionAddToWishlist]"
>
  <nz-card-meta
    [nzTitle]="book.title + ' by ' + book.authorName"
    [nzDescription]="book.description"
  ></nz-card-meta>
</nz-card>
<ng-template #coverTemplate>
  <img
    alt="example"
    [src]="book.coverUrl"
    style="
      height: 250px;
      width: auto;
      max-width: 100%;
      object-fit: cover;
      display: block;
      margin: 0 auto;
    "
  />
</ng-template>
<ng-template #actionReview>
  <p style="margin: 0" (click)="handleReview()">Review</p>
</ng-template>
<ng-template #actionAddToWishlist>
  <p style="margin: 0" (click)="handleAddToWishlist()">Add to Wishlist</p>
</ng-template>
