<nz-card
  style="width: 300px"
  [nzCover]="coverTemplate"
  [nzActions]="[actionReview, actionAddToWishlist]"
>
  <nz-card-meta
    [nzTitle]="book.title + ' by ' + book.authorName"
    [nzDescription]="book.description"
  ></nz-card-meta>
</nz-card>
<ng-template #coverTemplate>
  <img
    alt="example"
    [src]="book.coverUrl"
    style="
      height: 250px;
      width: auto;
      max-width: 100%;
      object-fit: cover;
      display: block;
      margin: 0 auto;
    "
  />
</ng-template>
<ng-template #actionReview>
  <p
    style="margin: 0; gap: 5px"
    class="flex flex-row items-center justify-center"
    (click)="handleReview()"
  >
    Add Review
  </p>
</ng-template>
<ng-template #actionAddToWishlist>
  <p
    *ngIf="!book.isInWishlist"
    style="margin: 0; gap: 5px"
    class="flex flex-row items-center justify-center"
    (click)="handleAddToWishlist()"
  >
    Add to Wishlist
  </p>
  <p
    style="margin: 0; gap: 5px; color: red"
    *ngIf="book.isInWishlist"
    class="flex flex-row items-center justify-center"
    (click)="handleRemoveFromWishlist()"
  >
    <span class="material-symbols-outlined">favorite</span>
    In your Wishlist
  </p>
</ng-template>

<app-modal [book]="book" [modalIsVisible]="modalIsVisible"></app-modal>
