<ul nz-menu nzMode="horizontal">
  <li nz-menu-item nzSelected>
    <a routerLink="/home" routerLinkActive="active">Home</a>
  </li>
  <li nz-menu-item>
    <a routerLink="/favorites" routerLinkActive="active">My favourite Books</a>
  </li>
  <li nz-menu-item>
    <a routerLink="/my-reviews" routerLinkActive="active">My reviews</a>
  </li>
  <li nz-menu-item>
    <a
      href="https://www.whatshouldireadnext.com/"
      target="_blank"
      rel="noopener noreferrer"
      >Go to Goodreads</a
    >
  </li>
</ul>
